<!doctype html>
<html>

    <head>
        <title>Marta Johnsson</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link rel="stylesheet" href="css/addStyle.css" type="text/css" />
        <script src="js/lib/require.js" data-main="js/main"></script>
        
        <!--add new artist-->
        <script type="text/template" id="create-artist-template">
            <div class="create-artist-holder">
                <form method="POST" id="create-artist-form">
                    <input type="text" name="artist-name" class="artist-name" size="40" maxlength="80" />
                    <input type="button" name="artist-submit" id="submit-artist-form" value="Add artist" />
            	</form>
            </div>
        </script>
        
        <!--add new album for artist-->
        <script type="text/template" id="create-album-template">
            <div class="create-album-holder">
                <form method="POST" id="create-album-form">
                <span id="albumValidationMessage">Enter a albumtitle</span><br/>
                    <input type="text" name="album-title" class="album-title" size="40" maxlength="80" />
            		<select name="select-artist" id="create-album-select-artist" class="album-artist">
                        <% _.each( artist, function( artist ) { %>
                            <option value="<%= artist.attributes.id %>"><%= artist.attributes.artistName %></option>
                        <% }); %>
                    </select>
                    <input type="button" name="album-submit" id="submit-album-form" value="Add album" />
            	</form>
            </div>
        </script>
        
        <!-- library -->
        <script type="text/template" id="library-template">
            <p><img id="remove" src="images/removeAlbum.png" /><span class="songitem"><%= album.albumTitle %></span></p>
        </script>
        
        
    </head>
    
    <body>
        
    	<div id="wrapper">
        <a href="#newArtist">Add new artist</a>
        
            <div id="newArtist-wrapper">
                <div id="newArtist">
                </div>
            </div>
            
            <div id="newAlbum">
    
    		</div>
            
            <div id="library-holder">

            </div>
           
    	</div>
    </body>
    
</html>